@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

$font-stack: "Poppins", sans-serif;

$full-white: #fff;
$light-black : #556573;
$header-color: #8dd7cf;
$favorite-active-color: #e61f1f;
$card-border-color: #b9c4ce;
$addtocart-color: #6558f5;
$load-color: #007000;
$searchbar-color: #95c1c4;