@import "variables";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

button {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: $header-color;

    a {
        color: $full-white;
        text-decoration: none;
    }

    &__title {
        color: $full-white;
    }

    &__search,
    &__menu {
        width: 100%;
    }

    &__search {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }

    .search-bar {
        width: 90%;
        height: 40px;
        border: 2px solid $searchbar-color;
        border-radius: 5px 0 0 5px;
        border-right: none;
        padding: 10px;
        outline: none;
    }

    .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 10%;
        font-size: 20px;
        background: $full-white;
        border-radius: 0 5px 5px 0;
        border: 2px solid $searchbar-color;
        border-left: none;
        color: $light-black;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    .menu-item {
        font-size: 24px;
        cursor: pointer;
    }
}

.movies__grid {
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    gap: 20px;
    grid-template-columns: 80%;
}

.card {
    position: relative;
    border: 2px solid $card-border-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &__image {
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            border-bottom: 2px solid $card-border-color;
        }

        .date {
            position: absolute;
            left: 50%;
            text-align: center;
            width: 100%;
            transform: translateX(-50%);
            bottom: 9px;
            color: white;
            font-size: 11px;
            background: #0000003d;
            font-weight: 500;
            padding: 5px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 10px;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 0 0 10px;
            font-size: 16px;
            color: #3d4a56;
        }

        .details {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
        }

        .details__rating {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            gap: 5px;
            line-height: 15px;
        }

        .details__genre {
            font-size: 14px;
        }

        .price {
            font-size: 20px;
            font-weight: 500;
            margin: 10px 0;
            color: #293845;
        }
    }

    &__actions {
        .buy {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            background: $addtocart-color;
            color: $full-white;
            border-radius: 3px;
            border: 0;
            box-shadow: 0 0 0 4.5px $addtocart-color;
        }

        .favorite {
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 18px;
            background: $card-border-color;
            border: none;
            color: $full-white;
            padding: 5px 5px 5px 10px;
            border-radius: 0 0 0px 30px;

            &.active {
                color: $favorite-active-color;
            }
        }
    }
}

.load {
    display: flex;
    margin: 20px auto;
    padding: 10px 30px;
    background: $load-color;
    color: $full-white;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .movies__grid {
        grid-template-columns: repeat(3, 31%);
    }

    .card {
        &__image {
            img {
                height: 330px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;

        &__search {
            margin: 0;
            max-width: 500px;
        }

        &__menu {
            width: auto;
        }

        .menu {
            gap: 20px;
        }
    }

    .movies__grid {
        grid-template-columns: repeat(4, minmax(200px, 220px));
        gap: 30px 40px;
        margin: 20px auto;
    }

    .card {
        &__image {
            img {
                min-height: 330px;
            }
        }

        &__actions {
            .buy {
                &:hover {
                    background: darken($addtocart-color, 15%);
                    box-shadow: 0 0 0 4.5px darken($addtocart-color, 15%);
                }
            }

            .favorite {
                &:hover {
                    color: $favorite-active-color;
                }
            }
        }
    }
}
