form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    input {
      width: 50%;
    }

    .bigger-divided {
      width: 75%;
    }
  }
}
