$card-border-solor: $slate-200;

article {
  @include flexCenter;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid $slate-300;
}

.image-container {
  position: relative;
  width: 100%;
  margin: 0 0 5px;
}

.favorite {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
  color: $slate-200;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
  object-fit: cover;
}

.date {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2px 0;
  font-size: 12px;
  font-weight: 600;
  background-color: #00000088;
  color: #fff;
  text-align: center;
}

.details {
  @include flexCenter;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding:0 6px 5px;
}

.title {
  font-size: 16px;
  height: 40px;
  text-align: center;
}

.category {
  @include flexCenter;
  gap: 10px;
}

.star {
  @include flexCenter;
  gap: 2px;
  &-icon {
    font-size: 18px;
    color: $yellow-600;
  }

  &-text {
    font-weight: 700;
    font-size: 14px;
  }
}

.price {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
}

button {
  @include flexCenter;
  background: $green-500;
  width: 100%;
  padding: 10px;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #fff;

  .cart-icon {
    font-size: 16px;
  }

  &:hover {
    background-color: $green-600;
    box-shadow: $box-shadow;
  }
}
