.overlay {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

.modal {
  @include flexCenter;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  max-width: 450px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $slate-500;
  background-color: #fff;
  box-shadow: $box-shadow;

  h5 {
    font-size: 24px;
    color: $slate-900;
    text-transform: capitalize;
  }

  p {
    text-align: center;
  }

  .back {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $slate-500;
    background-color: $slate-900;
    color: $slate-50;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
}
