header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 10px;
  margin: 0 0 20px;
  background-color: $stone-100;
  border-bottom: 1px solid $gray-300;
  z-index: 1;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

img {
  width: 40px;
  color: $slate-400;
}

input {
  height: 35px;
  border-radius: 3px;
  color: $slate-400;
  padding: 10px;
  width: 60%;
  border: 1px solid $slate-300;
  box-shadow: $box-shadow;
}

.actions {
  display: flex;
  gap: 20px;
}

.heart {
  color: $pink-400;
}

@media (min-width: 480px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .image-container {
    width: auto;
    margin: 0;
  }

  input {
    min-width: 250px;
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
  }
}
