header {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 10px;
  background-color: $stone-100;
  justify-content: space-around;
  align-items: center;
  box-shadow: $box-shadow;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

img {
  width: 40px;
  color: $slate-400;
}

input {
  height: 35px;
  border-radius: 3px;
  color: $slate-400;
  padding: 10px;
  width: 60%;
  border: 1px solid $slate-300;
}

.actions {
  display: flex;
  gap: 20px;
}

@media (min-width: 480px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 30px;
  }

  .image-container {
    width: auto;
    margin: 0;
  }

  input {
    width: auto;
    min-width: 300px;
  }
}
