::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.card-enter-active,
.card-leave-active {
  transition: 0.6s all ease;
}

.card-enter-from {
  transform: translateX(-100%);
}

.card-leave-to {
  transform: translateX(100%);
}

aside {
  position: fixed;
  top: 117px;
  right: 0;
  width: 100%;
  height: calc(100vh - 117px);
  padding: 20px 10px;
  background-color: #fff;
  z-index: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;

  span {
    font-size: 14px;
    font-weight: 600;
    color: $red-600;
    cursor: pointer;
  }
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  gap: 10px;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 480px) {
  aside {
    top: 61px;
    height: calc(100vh - 61px);
    max-width: 420px;
    min-width: 400px;
    width: 40%;
    border-left: 1px solid $slate-300;
  }
}
