aside {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  height: calc(100vh - 117px);
  top: 117px;
  right: 0;
  z-index: 1;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 18px;
  color: $slate-800;
  font-weight: 600;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  background-color: $slate-100;
  color: $slate-800;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid $slate-400;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

@media (min-width: 480px) {
  aside {
    height: calc(100vh - 61px);
    border-left: 1px solid $slate-300;
    width: 25%;
    top: 61px;
  }
}
