:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: $slate-50;
  position: relative;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $slate-300;
  color: $slate-400;
}

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    box-shadow: none;
    cursor: default;
  }
}

::-webkit-scrollbar {
  width: 4px;
  background-color: $slate-200;
}

::-webkit-scrollbar-thumb {
  background-color: $slate-400;
  border-radius: 5px;
}

.loading {
  width: 100%;
  font-size: 40px;
  color: #000;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}