:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: $slate-200;
  position: relative;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $slate-300;
  color: $slate-400;
}

button {
  cursor: pointer;
}
