button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px;
  font-size: 20px;
  background-color: #FFF;
  border-radius: 5px;
  color: $gray-700;
  box-shadow: $box-shadow;

  span {
    @include flexCenter;
    position: absolute;
    top: 70%;
    left: 70%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    font-weight: 700;
    line-height: 5px;
    color: white;
    border-radius: 100%;
    background-color: $gray-600;
  }
}
